# OAuth-токен Яндекс.Метрики (https://oauth.yandex.ru/)
YANDEX_METRIKA_TOKEN=your_oauth_token_here

# ID счётчика Метрики
YANDEX_METRIKA_COUNTER_ID=12345678

# Необязательно: заголовок отчёта по умолчанию
REPORT_TITLE=Отчёт по трафику сайта
